.classpath
.project
.settings
target
dependency-reduced-pom.xml
*.iml
*.idea
simulation_output
ile_de_france/data
ile_de_france/analysis
ile_de_france/src/main/python/results/*
ile_de_france/src/main/python/process_output_of_simulations/__pycache__
ile_de_france/src/main/python/process_output_of_simulations/results/*
ile_de_france/src/main/python/creating_subgraphs/__pycache__
ile_de_france/src/main/python/understand_data/intermediate_results/*

# Ignore .DS_Store files
.DS_Store

.history